/* Reuse styles from login or import common styles */
@import '../login/login.component.css';

mat-form-field select {
  background: transparent;
  color: white;
  border: none;
  width: 100%;
}

mat-form-field option {
  background: #302b63;
  color: white;
}
